	.registation{
	margin-top: 0px;
	/*margin-bottom: 20px;*/
	width: 90%;
	background:#fff;
	height:auto;
	/*border-radius: 20px;*/
	/*box-shadow: 0 0 2px 2px white;*/
	/*background-image: linear-gradient(to right,#ff5722,#ff9800);*/
}
/**/